//
//Typography
//-------------------------------------------

//Import web fonts

@import "font-index.less";

// Set Base font-size variables

@normal-font-size: 12px;

//
//Headings
//---------------------------------------------

//Font Family

@headings-font-family: "Muli", sans-serif;
@body-font-family: "Muli", sans-serif;


// Heading Font Settings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @headings-font-family;
  color: @red;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}

h1 {
	font-size: @normal-size * 4;
}

// Breakpoints

//Small screen sizes
@media @baby-bear {}

//Medium screen sizes
@media @mama-bear {}

//Large screen sizes
@media @papa-bear {}